@use "../base/variables" as *;
@use "../base/mixins" as *;
@use "../base/breakpoints" as *;

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index:100;
  padding: 20px 0 36px;

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 38px;
  }

  &__nav {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

    &--active {
      display: flex;
      opacity: 1;
      visibility: visible;
      position: absolute;
      z-index: 50;
    }

    @include media-query('lg') {
      position: static;
      opacity: 1;
      visibility: visible;
      display: flex;
      align-items: center;
      height: 100%;
    }
  }

  &__link {
    position: absolute;
    z-index: 90;
    top: 1px;

    @include media-query('lg') {
      position: static;
    }
  }

  &__burger {
    position: absolute;
    z-index: 90;
    right: 4.6vw;

    @include media-query('md') {
      right: 94px;
    }
  }
} 