$secondary-text: #FFFFFF;
$light-background: #EEE2FA;
$dark-background: #B865D6;
$primary-text: #210B36;
$gradient-primary: linear-gradient(47deg, #2e00b1 0%, #8100bd 48.44%, #a400be 100%);
$font-primary: 'Nunito';
$font-secondary: 'Comfortaa';
