@font-face {
  font-family: 'Nunito';
  src: url('./fonts/nunito-v24-cyrillic-regular.ac1741731b39bc1f5abf.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/nunito-v24-cyrillic-600.ea9bb316e858c376c2ab.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/nunito-v24-cyrillic-700.17457b80884d06340e5d.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('./fonts/comfortaa-v40-cyrillic-700.bc1657ffe7d1c15ef896.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}